@import './grid';

body {
  margin: 0;
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  color: $text-color;
  text-align: left;
  background-color: $body-bg;

  a {
    text-decoration: none;
  }
}

.page-box {
  background-color: $white;
  padding: 0 16px;
  margin-top: 16px;
  border-radius: 4px;
}

// Retina
@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
  
}
